nav ul
{
    display: flex;
}

nav li
{
    list-style: none;
    margin-right: 10px;
    margin-top:2px;
    padding: .5px;
    
}

nav li a 
{
    text-decoration: none;
    color: black;
 
}

nav li:hover
{
    background-color: goldenrod;
}

nav
{
    background-color: rgb(164, 128, 193);
    width:27%;
    height: 25px;
    

}